body{
	background-color: #FFF5EE;
	color:black;
	font-family: tahoma;
	font-size: 14px;
	margin: auto;
}
.nav{
	margin-top: 50px;

}
.nav ul{
	text-align: center;
}
.nav li{
	list-style: none;
	padding-right: 200px;
	display: inline;
}
.nav a{
	color: #555;
	text-decoration: none; 
} 

.lab{
	font-size: 100px;
	margin-left: 100px;
}

.content1{
	width: 15%;
	text-align: left;
	
	margin-left: 450px;
	margin-top:50px;
	padding: 10px;
}	
.content2{
	width: 15%;
	text-align: left;
	
	margin-left: 750px;
	margin-top:50px;
	padding: 10px;
}
.content3{
	width: 15%;
	text-align: left;
	transform: rotate(90deg);
	
	float: right;
	margin-bottom: 60px;
	padding: 10px;
}
.content1 p{
	font-size: 10px;
}
.content2 p{
	font-size: 10px;
}

.num h1{
	font-size: 100px;
	float: left;
	margin-left: 80px;
	transform: rotate(90deg);
	margin-bottom: 30px;

}